<h2>The Tabs</h2>
<ul class="tabs">
    <li class="tab">
        <label>
            <input type="radio" name="tab-switcher" class="tab-switch" checked="checked">
            <div class="tab-wrapper">
                <h3 class="tab-caption">
                    TAB1            
                </h3>
                <section class="tab-content">
                    <p> Tab number one</p>
                </section> 
            </div>
        </label>
    </li>
    
    <li class="tab">
        <label>
            <input type="radio" name="tab-switcher" class="tab-switch">
            <div class="tab-wrapper">
                <h3 class="tab-caption">
                    TAB2            
                </h3>    
                <section  class="tab-content">
                    <p> The second tab</p>
                </section>
            </div>
        </label>
    </li>
    
    <li class="tab">
        <label>
            <input type="radio" name="tab-switcher" class="tab-switch">
            <div class="tab-wrapper">
                <h3 class="tab-caption">
                    TAB3
                </h3>    
                <section class="tab-content">
                    <p> Tab number three</p>
                </section>
            </div>
        </label>
    </li>
</ul>    
