.tabs {
    position: relative;
    
    & label {
        text-align: left;
    }
    
    & .tab-content {
        display: none;      
        position: absolute;
        left: 200px;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $color-gray;
    }

    & li.active .tab-content {
        display: block;
    }
    
    & li {
        list-style: none;
        margin: 0 0;
        
        & .tab-caption {    
            color: #aaa;
            text-align: center;
            line-height: 64px;
            width: 128px;
            height: 64px;
            background-color: #333;
        }
    }
    
    & .tab-switch:checked ~ .tab-wrapper .tab-content {
        display: block;
    }
    
            
    & .tab-switch:checked ~ .tab-wrapper .tab-caption {
        background-color: #fc3;
        color: #fff;
    }
    
    & .tab-switch {
        position: absolute;
        visibility: hidden;
    }
}
