$assets				: './../../assets';

$font-family		: 'Verdana';
$font-size			: 12px;
$font-line-height	: 1.45;

$color-text			: #444;
$color-text-bold	: #000;
$color-text-light	: lighten($color-text, 50%);
$color-gray		 	: #e2e2e2;
$color-gray-light 	: #f5f5f5;
$color-blue			: #5f9db5;

$pad-hor			: 16px;
$pad-vert			: 8px;

$footer-height		: 100px;
